<div class="container">
    <div class="row">
        <h4>What is PolyCon?</h4>
        <blockquote>
            Unlike other conventions, PolyCon does not cater exclusively to a single fandom.  At PolyCon, we offer a large range of entertainment for people of all geeky interests, may they be sci-fi or comics or anime
        </blockquote>
        <h4>Where is PolyCon?</h4>
        <blockquote>
            Florida Polytechnic University
            4700 Research Way, Lakeland FL, 33805
        </blockquote>
        <h4>When is PolyCon?</h4>
        <blockquote>
            April of 2017
        </blockquote>
        <h4>What are the age restrictions?</h4>
        <blockquote>
            There are none!  Bring your infant child and Grandma too!
        </blockquote>
        <h4>Will there be a real ballpit this time?</h4>
        <blockquote>
            You will have to come to find out.
        </blockquote>
        <h4>Who is Tek?</h4>
        <img src="https://polycon.s3.amazonaws.com:443/tek_300.png">
        <blockquote>
            He will be your very own guide to PolyCon!  Sign up for our email list <a href="#">here</a>.
            You can expect exciting newsletter updates from him as more event surprises are revealed throughout the upcoming months.
        </blockquote>
        <h4>Where can I donate?</h4>
        <blockquote>
            <a href="gofundme.com/flpolycon">Here</a>
        </blockquote>
    </div>
</div>