<div class="slider">
    <ul class="slides">
        #C
    </ul>
</div>
<div class="container">
    <br>
    <div class="row">
        <div class="col s6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/dP8TbV_8z8o" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col s6">
            <p>
                Starting in 2014, the students at Florida Polytechnic University had an idea... an idea of a day when we are all equal, regardless of whether we prefer Star Wars or Star Trek, or Marvel or D.C. This idea became a reality when the first PolyCon was held in April of 2015, and has continued to grow since its first year.
                
                Help us grow, so that we can make your experience at PolyCon even better than ever before, while maintaining low ticket prices and still include free food with your tickets.
                Help spread the word!
            </p>
        </div>
    </div>
</div>